:root {
    --white: #FFFFFF;
    --black: #000000;
    --gray-600: #9597A5;
    --gray-100: #F4F5F7;
    --gray-50: #FAFAFA;
    --blue-950: #2D314D;
    --green-400: #30C88F;
}

html {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--gray-600);
}

a {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style-type: none;
}

header {
    .main-nav {

    }
}